<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <appSettings>
    <!--Test Secret Key-->
    <add key="StripeApiKey" value="sk_test_dqAMiGkSYwM50NhqDCc6p91k" />
    <!--Test Publishable Key-->
    <!--<add key="StripeApiKey" value="pk_test_Rsx0RgaRsdao53I0elIeZL90-->
    <!--Live Secret Key-->
    <!--<add key="StripeApiKey" value="sk_live_yZLwlqBDYM1XcVJVHcWz9mqU"-->
    <!--Live Publishable Key-->
    <!--<add key="StripeApiKey" value="pk_live_KPfloKNFLXsDmLpol8BZlD5o-->
  </appSettings>
  
  <dataConfiguration defaultDatabase="CSI" />
  <connectionStrings>
    <add name="CSI" connectionString="server=DESKTOP-3F8A7FS;database=Ecocyclus;uid=sa;pwd=sql@OX2014;MultipleActiveResultSets=True;Connection Timeout=3600; Max Pool Size=2000" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <pages enableEventValidation="false"></pages>

    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" defaultUrl="~/Console/Dashboard/Dashboard.aspx" cookieless="UseCookies" name=".CSI" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

	  <!--<<httpHandlers>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2011.2.712.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    </httpHandlers>-->
    <httpHandlers>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.2.831.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp>
       <network host="mail.ecocyclus.com" port="587" defaultCredentials="false" enableSsl="true" userName="notification@ecocyclus.com" password="QWer1234" />
      </smtp>
    </mailSettings>
  </system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <location path="Registration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
